<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Detail</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
  <h2>Assignment List</h2>

  <form method="get">
    {{ form.as_p }}
    <button type="submit">Filter by Date</button>
  </form>

  <h3>Assignments for {{ date_filter }}</h3>
  {% for doctor, assignments in assignments_by_doctor.items %}
    <h4>Doctor: {{ doctor.name }}</h4>
    <ul>
      {% for assignment in assignments %}
        <li>
          <a href="{% url 'assignment_detail' assignment.pk %}">{{ assignment.title }}</a> - Date: {{ assignment.assignment_date }}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}

     <!-- Include Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
