<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDelete Diagnosis</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
  <div class="container">
    {% include 'navbar.html' %}
    
    <h2>Delete Diagnosis</h2>
    <p>Are you sure you want to delete "{{ diagnosis }}"?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit">Confirm</button>
    </form>
    <a href="{% url 'diagnosis_list' %}">Cancel</a>
  {% include 'bootstrap.html' %}
  </div>
</body>
</html>
